In [1]:
 a = 50

In [2]:
b = 50* 25.00

In [3]:
nombre = 'Adrian Rodriguez'

In [4]:
f"Adrian {str(b)} Rdriguez"

'Adrian 1250.0 Rdriguez'

In [5]:
nombre[0]

'A'

In [6]:
nombre.lower()

'adrian rodriguez'

In [7]:
type(nombre)

str

In [9]:
if nombre[-1] == 0: print("un chiste")

In [10]:
for i in range(0,5):
    print(str(i))
    print('hey')

0
hey
1
hey
2
hey
3
hey
4
hey

In [11]:
def feliz_cumple(nombre):
    print(f"Feliz cumple, tas bien ruco, {nombre}!")

In [12]:
feliz_cumple('luis')

Feliz cumple, tas bien ruco, luis!

In [13]:
lista_patos=['hugo','paco','luis']

In [14]:
lista_patos[1]

'paco'

In [17]:
lista_patos[1:]

['paco', 'luis']

In [18]:
[x.upper() for x in lista_patos]

['HUGO', 'PACO', 'LUIS']

In [19]:
tuple(lista_patos)

('hugo', 'paco', 'luis')

In [20]:
edades_patos = {x:7 for x in lista_patos}
print(edades_patos)

{'hugo': 7, 'paco': 7, 'luis': 7}

In [21]:
edades_patos['paco']

7

In [23]:
edades_patos.keys()

dict_keys(['hugo', 'paco', 'luis'])

In [24]:
import pandas as pd

In [28]:
df = pd.DataFrame([edades_patos])

In [32]:
df

   hugo  paco  luis
0     7     7     7

In [29]:
df['paco']

0    7
Name: paco, dtype: int64

In [30]:
df.loc[0]

hugo    7
paco    7
luis    7
Name: 0, dtype: int64

In [31]:
df.iloc[0]

hugo    7
paco    7
luis    7
Name: 0, dtype: int64

The dataset you're given (data.csv) contains information about vehicle colision reports in the Monterrey Metropolitan area.
Analyze the data and answer the following questions based on it.
Please be sure to reply back to us with your answers and attach the source code you used to answer them (it can be a Jupyter notebook, an Rmd script, an R script, a Python script, an Excel spreadsheet, etc.)


## Questions


1. Which roads "appear to be" the top 10 most dangerous roads of Monterrey Metropolitan area?
2. What's the age group with the overall highest number of reported colisions? You can consider any age groupings for the purposes of this question. Explain this in a graphical way.
3. If you were to see a collision in the "Garza Sada" road, What would be the odds for that person to have any type of positive alcohol ingestion opinion?
4. Why do you think we use the phrase "appear to be" in question 1? What would you need to be able to speak with more confidence about the answer to that question?
5. What modelling project would you push to develop from the conclusions in this dataset?